@CHARSET "ISO-8859-1";

/*Plantilla Principal*/

.cabecera{height: 10%;}

.menu{
	display: block; /* set up as a block */
	height: 10%; /* set height to full page */
	max-height: 10%;
	overflow: auto; /* add scroll bars as required */
	position: relative;
	/* set up relative positioning so that z-index will work */
	z-index: 3; /* allocate a suitable z-index */
}

.cuerpo {
	display: block; /* set up as a block */
	height: 73%; /* set height to full page */
	max-height: 73%;
	overflow: auto; /* add scroll bars as required */
	position: relative;
	/* set up relative positioning so that z-index will work */
	z-index: 3; /* allocate a suitable z-index */
}
.pie{ height: 7%;}


/*Login*/
.panelInicioSesion{
	width: 20%;
	margin: 0 38% 0 38% ;
	margin-top: 10em;
}

.panelInicioSesion button{
	margin-left: 35%;
}

/*Menu*/

.cuerpoSuperior {height: 2em; width: 100%; position: relative;}
.cuerpoSuperior table{width: 100%; }
.seccionUsuario{width: 13%;text-align: left;}
.seccionPerfil{width: 13%;text-align: left;}
.seccionCerrarSesion{width: 13%; text-align: left;}

.formularioRegistro{width:100%;}




